# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\quarkus\Quarkus-learning\quarkus-super-heroes-workshop\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
